APScheduler==3.5.3
argcomplete==1.9.3
awscli==1.16.37
boto3==1.9.27
botocore==1.12.27
certifi==2018.10.15
cfn-flip==1.0.3
chardet==3.0.4
Click==7.0
colorama==0.3.9
docutils==0.14
durationpy==0.5
Flask==1.0.2
Flask-Cors==3.0.6
Flask-QRcode==2.0.2
future==0.16.0
hjson==3.0.1
idna==2.7
ItsDangerous==1.0.0
Jinja2==2.10
jmespath==0.9.3
kappa==0.6.0
lambda-packages==0.20.0
MarkupSafe==1.0
Pillow==6.2.0
placebo==0.8.2
pyasn1==0.4.4
pycrypto==2.6.1
python-dateutil==2.6.1
python-slugify==1.2.4
pytz==2018.5
PyYAML==3.13
qrcode==6.0
requests==2.20.0
rsa==3.4.2
s3transfer==0.1.13
six==1.11.0
toml==0.10.0
tqdm==4.19.1
troposphere==2.3.3
tzlocal==1.5.1
Unidecode==1.0.22
urllib3==1.23
Werkzeug==0.14.1
wsgi-request-logger==0.4.6
zappa==0.47.0
